*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
button {
  outline: none;
}
body {
  background: rgb(0,11,11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

:root {
  --effect: hover 1s linear infinite;
}

#canvas {
    opacity: 0.4;
    background: transparent;
}

.table{
  position: absolute;
  top :0;
}

.tab {
  justify-content: space-between;
  align-items: center;
  gap :3rem;
  display: flex;
  color: #fff;
  left: auto;
  margin: 1rem auto;
}
.tab img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.tab #btn-flex {
  margin: 0 auto;
}

.tab #btn-flex img:hover {
 width: 45px;
  height: 46px;
}


.preloader {
  position: absolute;
  text-align: center;
  display: flex;
}

p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(.5);
  color: #121212;
  -webkit-text-stroke: 2px gray;
}

p:nth-child(1) {
  animation: var(--effect);
}

p:nth-child(2) {
  animation: var(--effect) .125s;
}

p:nth-child(3) {
  animation: var(--effect) .25s;
}

p:nth-child(4) {
  animation: var(--effect) .375s;
}

p:nth-child(5) {
  animation: var(--effect) .5s;
}

p:nth-child(6) {
  animation: var(--effect) .675s;
}

p:nth-child(7) {
  animation: var(--effect) .75s;
}

@keyframes hover {
  0% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
  }

  50% {
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }



}
.container {
  position: absolute;
  max-width: 950px;
  border-style: double;
  border-color: rgba(82,244,0,0.967);
  border-width: 2px;
 /* border: .1px solid rgba(82,244,0,0.967);*/
  border-radius: 8px;
  background: rgba(0,52,51,0.552);
  padding: 1.2rem 1rem;
  text-align: center;
  justify-content: center;
  top: 25%;
  font-family: Monospace;
  z-index: 10000;
  animation: logo 2.5s linear alternate;
}
.container #cross,#chat-box #cross {
  position: absolute;
  top:-5px;
  right:-5px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.container h3 {
  margin: .3rem auto;
  color: rgb(214,255,174);
  font-weight: 500;
  font-family: Monospace;
}
#login input::placeholder {
  color: rgb(6,255,236);
  font-family: Monospace;
}
#login input {
  outline: none;
  border :.1px solid rgb(0,231,216);
  color: rgba(82,244,0,0.967);
  font-weight: 300;
  border-radius: 10px;
  margin: 1rem auto;
  background: transparent;
  padding: .9rem .7rem;
  width: 90%;
  font-family: Monospace;
}
#login #btn {
  outline: none;
  border :.1px solid rgba(82,244,0,0.967);
  color: rgb(0,231,216);
  font-weight: 300;
  border-radius: 10px;
  margin: .2rem auto;
  background: transparent;
  padding: .5rem .9rem;
  font-family:Monospace;
}
#login #btn:hover {
  border: .2px solid rgb(0,118,30);
  box-shadow: 0 0 10px rgb(0,140,29),0 0 5px rgba(0,118,7,0.765)inset;
}

.container h3 {
    color: #24c0ff;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
}
.container .user {
    padding: .3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #fff;
}
.user a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: .5rem ;
    border-radius: 12px;
    margin: .7rem auto;
    float: left;
}
.user a:hover {
    border: 1px solid rgba(29,214,255,0.907);
    
}
 #chat-box {
    position: absolute;
  max-width: 950px;
  border-style: double;
  border-color: rgba(82,244,0,0.967);
  border-width: 2px;
 /* border: .1px solid rgba(82,244,0,0.967);*/
  border-radius: 8px;
  background: rgba(0,52,51,0.552);
  padding: .1rem 1rem;
  /*
  text-align: center;
  justify-content: center;
  */
  top: 20%;
  font-family: Monospace;
  z-index: 10000;
  animation: logo 2.5s linear alternate;
}
#chat-box #u_name {
    color: #24c0ff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    font-family: serif;
    text-align: center;
}
#chat-box #chat {
    height: 360px;
    overflow: auto;
    padding-bottom: 4rem;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat small {
    color: #fff;
    padding: .5rem;
    border: .1px solid rgb(27,155,151);
    border-radius: 8px;
    margin: .3rem auto;
    text-align: left;
    font-size: 10px;
    width: 80%;
}
#chat #left {
    float: left;
    text-align: left;
    margin-left: 0;
}
#chat #right {
    float: right;
    margin-right: 0;
}


#chat ::placeholder {
    color: #fff;
}
#chat-box .type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: .1rem;
    gap: .3rem;
    padding: .3rem .2rem;
    border-radius: 8px;
    background: rgb(0,52,51);
}
.type textarea {
    outline: none;
    width: 90%;
    border: .1px solid rgb(11,255,10);
    border-radius: 8px;
    background: transparent;
    padding: .3rem;
    font-size: 13px;
    text-align: left;
    font-weight: 300;
    color: rgba(55,219,255,0.907);
}
.type #btn {
    outline: none;
    background: transparent;
    padding: .8rem .9rem;
    border: .1px solid rgb(11,255,10);
    border-radius: 8px;
    font-weight: 900;
    color: rgb(11,185,255);
}
.preloader h2 {
  color: #fff;
  font-family: Monospace;
}
@keyframes logo {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.01);
    opacity: 1;
  }
}

@media screen and (max-width: 450px) {
    .container ,#chat-box {
        width: 80%;
        margin: 0 .5rem;
    }
    .container .user {
        height: 270px;
        overflow: auto;
    }
}
