<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="static/css/index.css" />

<title>
KALI - LINUX | Ghs Julian | Programmer | Web Developer Programmer
</title>
</head>
<body>
<canvas id="canvas"> </canvas>

<div style="display: none" id="inbox" class="container">
<input id="hidden-data" type="text" value="" hidden="true" />
<img id="cross" class="cross-inbox" src="static/icons/cross.png" />
<h3>Your Inbox</h3>
<div class="user">

</div>


</div>








<div style="display: none" id="form" class="container">
<input id="hidden-data" type="text" value="" hidden="true" />
<img id="cross" src="static/icons/cross.png" />
<form id="login">
<h3>Enter Login Info</h3>
<input
type="text"
id="idName"
name="loginId"
placeholder="Enter ID/Phone/Email"
/>
<button id="btn">Submit</button>
</form>
</div>

<div style="display: none" class="table" id="table">
<div class="tab">
<div class="btn-flex">
<img src="static/icons/hacker.png" />
</div>
<div id="brute-force" class="btn-flex">
<img src="static/icons/cybersecurity.png" />
</div>
<div class="btn-flex">
<img src="static/icons/ddos.png" />
</div>
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/shield.png') }}"
/>
</div>
</div>
<div class="tab">
<div id="facebook" class="btn-flex">
<img
src="{{ url_for('static', filename='icons/facebook.png') }}"
/>
</div>
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/globe-grid.png') }}"
/>
</div>
<div id="chat_msg" class="btn-flex">
<img
src="{{ url_for('static', filename='icons/messenger.png') }}"
/>
</div>
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/reset-password.png') }}"
/>
</div>
</div>
<div class="tab">
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/google.png') }}"
/>
</div>
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/wifi.png') }}"
/>
</div>
<div class="btn-flex">
<img
src="{{ url_for('static', filename='icons/data-encryption.png') }}"
/>
</div>
<div class="btn-flex">
<img
src="static/icons/coding.png"
/>
</div>
</div>
</div>

<div class="preloader">
<p>
l
</p>
<p>
o
</p>
<p>
a
</p>
<p>
d
</p>
<p>
i
</p>
<p>
n
</p>
<p>
g
</p>
</div>

<script
type="module"
src="static/js/script.js"
></script>
<script type="module" src="static/js/index.js"></script>
</body>
</html>